[submodule "lib/s2cnn"]
	path = lib/s2cnn
	url = https://github.com/jonkhler/s2cnn.git
[submodule "lib/lie_learn"]
	path = lib/lie_learn
	url = https://github.com/AMLab-Amsterdam/lie_learn.git
[submodule "lib/pynvrtc"]
	path = lib/pynvrtc
	url = https://github.com/NVIDIA/pynvrtc.git
